services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: sugang-helper-web
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - NEXT_PUBLIC_API_URL=http://localhost:8080
    command: npm run dev
    networks:
      - sugang-helper-network-web

networks:
  sugang-helper-network-web:
    name: sugang-helper-network-web
    driver: bridge
